<h1>Edit Quest</h1>

<form #questForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Title</label>
        <input type="text" id="name" name="name" required 
        [(ngModel)]="quest.name">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" 
        required [(ngModel)]="quest.description">
    </div>
    <div>
        <label for="reward">Reward</label>
        <input type="number" id="reward" name="reward" 
        required [(ngModel)]="quest.reward" min="0">
    </div>
    <div>
        <label for="complete">Complete</label>
        <input type="checkbox" id="complete" name="complete" 
        [(ngModel)]="completed">
    </div>
    <button [disabled]="!questForm.form.valid" type="Submit">Submit</button>
</form>

<mat-card>  
    <mat-card-header>  
        <mat-card-title>Final Scores</mat-card-title>  
        <mat-card-subtitle>Calculate Member Scores</mat-card-subtitle>  
    </mat-card-header>

    <mat-card-content>  
        <mat-table [dataSource]="quest.memberQuests">  
            <ng-container matColumnDef="id">  
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>  
                <mat-cell *matCellDef="let memberQuest; let rowIdx = index;">
                    <p>{{memberQuest.member.id}}</p>
                </mat-cell>  
            </ng-container>
        
            <ng-container matColumnDef="name">  
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>  
                <mat-cell *matCellDef="let memberQuest; let rowIdx = index;">   
                    <p>{{memberQuest.member.name}}</p>
                </mat-cell>  
            </ng-container>

            <ng-container matColumnDef="score">  
                <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>  
                <mat-cell *matCellDef="let memberQuest; let rowIdx = index;">  
                    <p>{{memberQuest.score}}</p>
                </mat-cell>  
            </ng-container>

            <ng-container matColumnDef="currency">  
                <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>  
                <mat-cell *matCellDef="let memberQuest; let rowIdx = index;">  
                    <p>{{memberQuest.member.currency}}</p>
                </mat-cell>  
            </ng-container>
            
            <ng-container matColumnDef="earning">  
                <mat-header-cell *matHeaderCellDef>Earning</mat-header-cell>  
                <mat-cell *matCellDef="let memberQuest; let rowIdx = index;">  
                    <p>{{memberQuest.score * 100 / totalScore}}</p>
                </mat-cell>  
            </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>  
        </mat-table>  
    </mat-card-content>
</mat-card>